spring:
  datasource:
    url: jdbc:mysql://localhost:3306/voyage_db?useSSL=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080

voyageconnect:
  jwt:
    secret: change-me-please
    expiration-ms: 3600000

logging:
  level:
    root: INFO
